@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* VARIABLES CSS */
:root {
  --header-height: 3rem;
  /* Colors */
  /*change favorite color*/
  --hue-color: 250; /* purple 250 - Green 142 - blue 230 - pink 340 */

  /* HSL COLOR MODE */
  --first-color: #f46905;
  --first-color-second: #db5f06;
  --first-color-alt: #de5f04;
  --first-color-lighter: #f07d2c;
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 99%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  /* FONT And TYPOGRAPHY */
  --body-font-sm: "Roboto", sans-serif;
  --body-font-lg: "Quicksand", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ...*/
  --big-font-size: 2rem;
  --bigger-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Font Weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* margins Bottom */
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* z-index*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /* ===== TRANSITION ===== */
  --transition: all 0.3s linear;
}

/* font size for large device */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* ----------------------------------- BASE ---------------------------------------- */
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height);
  font-family: var(--body-font-sm);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--body-font-lg);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* ---------------------------------- REUSABLE CSS CLASSES -------------------------------------- */

.section {
  padding: 6rem 0 2rem;
}

.section-title {
  font-size: var(--h1-font-size);
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

/* --------- LAYOUT ----------- */
.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}
/*============Navbar=============== */

nav {
  position: fixed;
  width: 968px;
  top: 0;
  bottom: initial;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  background: var(--body-color);
}
.nav-center {
  position: fixed;
  width: 100%;
  background-color: var(--body-color);
  padding: 0.5rem 0.5rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--first-color-lighter);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--first-color-second);
  transform: rotate(90deg);
}
.nav-logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  height: 40px;
  font-size: var(--h3-font-size);
  position: relative;
  top: 0.5rem;
}

.jx-logo {
  color: var(--first-color);
}
.links a {
  color: var(--first-color);
  font-size: var(--normal-font-size);
  text-transform: capitalize;
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  color: var(--first-color-second);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 170rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-logo {
    padding-left: 10rem;
    display: flex;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
    padding-left: 23rem;
  }
  .links a {
    padding-left: 1rem;
    margin: 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .nav-icon {
    display: none;
  }
  .social-icons {
    display: flex;
    padding-right: 6rem;
  }
  .social-icons p {
    margin: 0 0.5rem;
    color: #fff;
    transition: var(--transition);
  }
}
/* Active Link */
.active-link {
  color: var(--first-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/*==================== HOME ====================*/
.home-content {
  grid-template-columns: max-content 1fr 1fr;
  padding-top: 5.5rem;
  column-gap: 2rem;
  align-items: center;
}

.home-img {
  width: 31.375rem;
  order: 1;
  justify-self: center;
}

.home-data {
  grid-column: initial;
  padding-left: 5rem;
}

.home-title {
  width: 33rem;
  font-size: 3rem;
  font-weight: var(--font-semi-bold);
  line-height: 3.5rem;
}

.home-description {
  font-size: var(--normal-font-size);
  line-height: 1.75rem;
  margin-bottom: var(--mb-2);
}

.home-scroll {
  display: block;
}

.home-scroll-button {
  margin-left: 3rem;
  color: var(--first-color);
  transition: 0.3s;
}
.home-scroll-button:hover {
  transform: translateY(0.25rem);
}

.home-scroll-mouse {
  font-size: 2rem;
}

.home-scroll-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home-scroll-arrow {
  font-size: 1.25rem;
}

/*==================== BUTTONS ====================*/
.button {
  display: flex;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  font-weight: var(--font-medium);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button-icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.button--white {
  background-color: #fff;
  color: var(--first-color);
}

.button--white:hover {
  color: #fff;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button-small {
  padding: 1rem 1rem;
}

.button--link {
  padding: 0rem;
  background-color: transparent;
  color: var(--first-color);
}

.button--link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}
/* ======= COUNTER ======= */
.counters {
  background-color: var(--first-color);
  padding: 1rem;
  width: 99.3rem;
  display: flex;
  justify-content: space-evenly;
}

.counter {
  color: #fff;
}

.counter-number {
  font-weight: 700;
  color: var(--container-color);
  font-size: var(--big-font-size);
  align-items: center;
}

.counter-text {
  font-weight: var(--font-semi-bold);
  color: var(--container-color);
  font-size: 0.8rem;
  line-height: 0.813rem;
  letter-spacing: 0.15rem;
  text-align: center;
}

/*==================== ABOUT ====================*/
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 6rem;
}
.about-img-1 {
  width: 40.8125rem;
  height: 27.208125rem;
  position: relative;
  left: 1rem;
  top: 2rem;
}
.about-data {
  width: 26rem;
  height: 9.125rem;
  padding-left: 0.1rem;
  position: relative;
  left: 4rem;
  top: 6.5rem;
}
.about-title,
.about-title-2 {
  text-align: left;
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.5rem;
}
.about-description,
.about-description-2 {
  position: relative;
  top: 0.5rem;
  font-size: 0.824rem;
  line-height: 1.7rem;
  text-align: left;
}
.about-button-1 {
  font-size: 1rem;
  position: relative;
  top: 0.8rem;
}

.about-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 3rem;
  padding-top: 3rem;
}
.about-data-2 {
  width: 26rem;
  height: 9.125rem;
  padding-left: 0.1rem;
  position: relative;
  left: 7rem;
  top: 10rem;
}
.about-food-img {
  width: 40.625rem;
  height: 40.625rem;
  position: relative;
  left: 1rem;
  top: 2rem;
}
.about-img {
  width: 40.625rem;
  height: 40.625rem;
  margin-right: 0;
  margin-left: 0;
  position: relative;
  left: 1rem;
  top: 2rem;
}
.small--img {
  width: 20.9375rem;
  height: 25.9375rem;
  position: absolute;
  left: 26rem;
  bottom: 25.1rem;
  z-index: var(--z-tooltip);
}

.about-menu {
  position: relative;
  top: 1rem;
  font-size: 1rem;
}
.btn {
  margin: 2rem;
  margin-left: 0;
}

.about-list {
  row-gap: 1.25rem;
}

.about-item {
  display: flex;
  gap: 0.35rem;
}

.about-icon {
  font-size: 1.5rem;
  color: var(--first-color);
}
.about-button-2 {
  font-size: 1rem;
  position: relative;
  top: 0.2rem;
}

/*==================== STORY ====================*/
.story {
  width: 99.3rem;
  height: 37.125rem;
  position: relative;
  top: 2rem;
}
.story-data {
  position: absolute;
  left: 28rem;
  bottom: 17rem;
}

.story-title {
  text-align: center;
  color: var(--first-color);
  font-size: 2.25rem;
  line-height: 2.8125rem;
}

.story-description {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  line-height: 1.75rem;
  padding-top: 1rem;
}

.story-watch a {
  position: relative;
  left: 45.125rem;
  bottom: 13rem;
  padding-top: 1rem;
  font-size: 1rem;
  line-height: 2.8125rem;
  color: #fff;
}

/*==================== EXPLORE FOOD ====================*/

.product--description {
  width: 45rem;
  font-size: 1rem;
  line-height: 1.75rem;
  text-align: center;
  position: relative;
  left: 19.4375rem;
  bottom: 3rem;
}

.product-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-img {
  width: 100%;
  border-radius: 0.9rem;
  padding: 1rem;
}

.product-title {
  position: relative;
  bottom: 2rem;
  left: 1rem;
  font-weight: 700;
  font-size: var(--normal-font-size);
}

.product-description {
  position: relative;
  bottom: 1.6rem;
  left: 1rem;
  font-size: var(--smaller-font-size);
  text-align: left;
}

.product-price {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  position: relative;
  bottom: 0.5rem;
  left: 1rem;
  color: var(--first-color);
}

.product-price-cancel {
  font-size: var(--smaller-font-size);
  text-align: center;
  padding-left: 0.2rem;
  color: #c4c4c4;
  text-decoration: line-through;
}

.product-button {
  display: flex;
  position: relative;
  left: 0.2rem;
}

.product-button:hover {
  transform: translateY(0.25rem);
}

.product-button:hover .button-icon {
  transform: translateX(0.25rem);
}
/*==================== TESTIMONIAL ====================*/
.testimonial {
  text-align: center;
  width: 99.3rem;
}

.testimonial-bg {
  background-color: var(--first-color);
  padding: 5rem;
}
.title,
.sub {
  color: #fff;
  position: relative;
  left: 0;
  bottom: 3rem;
}
.testimonial-container {
  background-color: #fff;
  position: relative;
  bottom: 3rem;
}
.testimonial-img {
  width: 4rem;
  padding-top: 4rem;
  justify-self: center;
}

.testimonial-data {
  padding: 2.7rem;
}
.testimonial-title {
  width: 31rem;
  font-size: 1rem;
  line-height: 1.5rem;
  position: relative;
  left: 23rem;
  bottom: 2rem;
  padding: 1rem;
}

.testimonial-description {
  position: relative;
  left: 0.3rem;
  bottom: 2rem;
  font-size: 0.7rem;
  color: var(--first-color);
  padding-bottom: 2rem;
}

.testimonial-dot {
  height: 0.5rem;
  width: 0.5rem;
  position: relative;
  bottom: 2rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active-dot {
  background-color: #fff;
}
/* ============= questions ============== */
.question-container {
  max-width: 80rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.question-content {
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.question-title h4 {
  margin-bottom: 0;
  letter-spacing: 0.123rem;
  color: var(--text-color);
}

.line {
  color: var(--first-color-alt);
  margin-right: 0.2rem;
}

.question-btn {
  font-size: 2.5rem;
  position: relative;
  bottom: 0.8rem;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--first-color-alt);
}

.question-text {
  width: 27rem;
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.question-text p {
  margin-bottom: 0;
}

/* ===== hide text ===== */
.question-text {
  display: none;
}

.show-text .question-text {
  display: block;
}

.angle-up-icon {
  display: none;
}
.show-text .angle-up-icon {
  display: inline;
}
.show-text .angle-down-icon {
  display: none;
}

/* ============= DIVIDED ============== */
.divided {
  width: 99.3rem;
  background-color: var(--title-color);
}

.divided-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  bottom: 2rem;
}

.divided-title {
  color: var(--container-color);
}

.divided-button {
  font-size: 0.9rem;
}

/* ============= NEWSLETTER ============== */

.newsletter-content {
  text-align: center;
  margin-top: 2rem;
}

.newsletter-title {
  font-size: 1.5rem;
}

.newsletter-description {
  position: relative;
  bottom: 1rem;
}

.newsletter-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  bottom: 3rem;
}

.newsletter-email {
  position: relative;
  left: 9rem;
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.newsletter-label {
  font-size: var(--smaller-font-size);
  color: var(--first-color);
}

.newsletter-input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font-sm);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
}
.newsletter-button {
  position: relative;
  right: 7rem;
}
/* ============= COPY WRITE ============== */
.copywrite {
  width: 99.3rem;
  height: 16.25rem;
}

.copywrite-bg {
  background-color: var(--first-color);
  color: #fff;
  padding: 2rem 0 3rem;
}
.copywrite-content {
  text-align: center;
}

.copywrite-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copywrite-link {
  color: #fff;
  font-size: 0.9375rem;
  line-height: 1.125rem;
}

.copywrite-social-icon {
  font-size: 1.5rem;
  color: var(--container-color);
}

.copywrite-copy {
  font-size: 0.8125rem;
}
/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}
.scrollup:hover {
  background-color: var(--first-color-alt);
}

.scrollup-icon {
  font-size: 1.5rem;
  color: #fff;
}
/* Show scroll */
.show-scroll {
  bottom: 5rem;
}
/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}
/*==================== MEDIA QUERIES ====================*/
/* For large devices  */
@media screen and (max-width: 75rem) {
  .container {
    width: 68rem;
  }
  .nav-logo {
    padding-left: 1rem;
  }
  .social-icons {
    padding-right: 1rem;
  }
  .links {
    padding-left: 0;
  }
  .home-img {
    width: 22rem;
  }
  .home-data {
    padding-left: 1rem;
  }
  .home-title {
    font-size: 3rem;
  }
  .counters {
    max-width: 74.3rem;
  }
  .about-1 {
    padding-left: 0;
  }
  .about-img-1 {
    width: 29.8125rem;
    height: 20.208125rem;
    position: relative;
    left: 1rem;
    top: 2rem;
  }
  .about-data {
    width: 24rem;
    padding-left: 0.1rem;
    position: relative;
    left: 3rem;
    top: 4.5rem;
  }

  .about-button-1 {
    font-size: 1rem;
    position: relative;
    top: 0.8rem;
  }
  .about-data-2 {
    width: 27rem;
    position: relative;
    left: 0rem;
    top: 7rem;
  }
  .about-food-img {
    width: 29.625rem;
    height: 31.625rem;
    position: relative;
    left: 1rem;
    top: 2rem;
  }
  .about-img {
    width: 29.625rem;
    height: 31.625rem;
    margin-right: 0;
    margin-left: 0;
    position: relative;
    left: 1rem;
    top: 2rem;
  }
  .small--img {
    width: 14.9375rem;
    height: 21.9375rem;
    position: absolute;
    left: 19rem;
    bottom: 18.1rem;
    z-index: var(--z-tooltip);
  }

  .about-menu {
    font-size: 0.8rem;
  }

  .about-icon {
    font-size: 1rem;
  }
  .story {
    max-width: 74.3rem;
    height: 37.125rem;
    position: relative;
    top: 2rem;
  }
  .story-data {
    position: absolute;
    left: 17rem;
    bottom: 18rem;
  }
  .story-watch a {
    position: relative;
    left: 35.125rem;
    bottom: 8rem;
  }
  .product--description {
    position: relative;
    left: 11.4375rem;
    bottom: 3rem;
  }
  .product-img {
    width: 20rem;
    padding: 2rem;
    position: relative;
    right: 1rem;
  }
  .product-wrapper {
    position: relative;
    right: -2rem;
  }
  .testimonial {
    max-width: 74.3rem;
  }
  .testimonial-bg {
    padding: 4rem;
  }
  .testimonial-container {
    position: relative;
    bottom: 3rem;
    right: 1rem;
  }
  .testimonial-title {
    width: 33rem;
    position: relative;
    left: 15rem;
    bottom: 4rem;
  }
  .testimonial-description {
    position: relative;
    left: -0.3rem;
    bottom: 4rem;
  }
  .question-title {
    width: 31rem;
    position: relative;
    right: 0;
  }
  .question-text {
    position: relative;
    right: -1rem;
  }
  .divided {
    max-width: 74.3rem;
  }
  .newsletter-email {
    position: relative;
    left: 7rem;
  }
  .newsletter-button {
    position: relative;
    right: 5rem;
  }
  .copywrite {
    width: 74.3rem;
    height: 18.25rem;
  }
}
@media screen and (max-width: 31.25rem) {
  .container {
    max-width: 30rem;
  }
  .home-content {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .home-img {
    width: 26rem;
    padding-left: 1rem;
  }
  .home-title {
    width: 29rem;
    font-size: 2.5rem;
    font-weight: 800;
  }
  .counters {
    padding: 1rem;
    width: 30.5rem;
    flex-direction: column;
  }
  .counter {
    padding: 1rem;
  }
  .counter-number {
    padding-left: 11rem;
    font-weight: 700;
    font-size: var(--big-font-size);
    align-items: center;
  }

  .counter-text {
    font-weight: var(--font-semi-bold);
    padding-left: 1rem;
    font-size: 0.6rem;
    line-height: 0.813rem;
    letter-spacing: 0.15rem;
    text-align: center;
  }
  .about-1,
  .about-2 {
    display: block;
  }
  .about-img-1 {
    width: 23rem;
    height: 18.208125rem;
  }
  .about-description,
  .about-description-2 {
    font-size: 0.8rem;
  }
  .about-food-img {
    width: 23.625rem;
    height: 44.625rem;
    margin-right: 0;
    margin-left: 0;
    position: relative;
    left: 1rem;
    top: 24rem;
  }
  .about-img {
    width: 23.625rem;
    height: 26.625rem;
    margin-right: 0;
    margin-left: 0;
    position: relative;
    left: 0rem;
    top: 0rem;
  }
  .small--img {
    display: none;
  }
  .about-data-2 {
    left: 3rem;
  }
  .story {
    max-width: 30.5rem;
    height: 25.125rem;
    position: relative;
    top: 2rem;
  }
  .story-img {
    width: 100%;
    height: 18rem;
  }
  .story-data {
    width: 20rem;
    left: 5rem;
    top: 7.8rem;
  }
  .story-title {
    font-size: 1rem;
    line-height: 2.125rem;
  }
  .story-description {
    position: absolute;
    left: 1rem;
    font-size: 0.7rem;
    line-height: 1.5rem;
    padding-top: 1rem;
  }
  .story-watch a {
    left: 12.55rem;
    bottom: 5rem;
    font-size: 0.7rem;
  }
  .product--description {
    width: 28rem;
    left: 1.4375rem;
  }
  .product-wrapper {
    flex-direction: column;
    align-items: center;
    right: 1rem;
    padding-right: 0;
  }
  .product-img {
    right: -1rem;
  }
  .product-title {
    text-align: center;
    position: relative;
    bottom: 2rem;
    padding-left: 1rem;
    font-weight: 700;
    font-size: var(--normal-font-size);
  }
  .product-description {
    left: 1.8rem;
    text-align: center;
  }
  .product-price {
    left: 8.6rem;
  }
  .product-button {
    left: 3.5rem;
  }
  .testimonial {
    width: 30.5rem;
  }
  .title,
  .sub {
    left: 1rem;
  }
  .testimonial--img {
    padding-right: 1rem;
  }
  .testimonial-container {
    width: 25rem;
  }
  .testimonial-title {
    width: 21rem;
    left: 0;
  }
  .question-container {
    width: 29rem;
    display: block;
  }
  .question-content {
    background-color: var(--container-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 0.5rem 0 1.5rem;
    margin-bottom: 2rem;
  }
  .question-title {
    width: 33rem;
    right: 22px;
  }
  .question-text {
    right: 1rem;
  }
  .question-btn {
    right: 4.6rem;
  }
  .divided {
    width: 30.5rem;
  }
  .divided-content {
    padding-top: 3rem;
    padding-left: 2rem;
    width: 20rem;
    display: block;
  }
  .divided-button {
    padding-left: 6rem;
  }
  .newsletter-container {
    width: 29rem;
  }
  .newsletter-button {
    right: 0rem;
  }
  .newsletter-email {
    left: 0rem;
  }
  .copywrite {
    width: 30.5rem;
    height: 18.25rem;
  }
}
@media screen and (max-width: 24.375rem) {
  .home-img {
    width: 23rem;
    position: relative;
    left: 2.9rem;
  }
  .home-title {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
  }
  .home-description {
    text-align: center;
  }
  .home-btn {
    width: 22.75rem;
    position: relative;
    left: 6rem;
  }
  .counters {
    width: 29.9rem;
  }
  .about-img-1 {
    width: 23rem;
    height: 18.208125rem;
    position: relative;
    left: 2.9rem;
  }
  .about-title,
  .about-title-2 {
    text-align: center;
  }
  .about-description,
  .about-description-2 {
    text-align: center;
  }
  .about-food-img {
    position: relative;
    left: 2rem;
    top: 24rem;
  }
  .about-img {
    position: relative;
    left: 2rem;
    top: 0rem;
  }
  .about-btn {
    position: relative;
    left: 7rem;
  }
  .btn {
    position: relative;
    left: 10rem;
  }

  .about-data-2 {
    left: 1rem;
  }
  .story {
    max-width: 29.5rem;
    height: 25.125rem;
  }
  .product--description {
    width: 24rem;
    left: 0.8375rem;
  }
  .product-wrapper {
    flex-direction: column;
    align-items: center;
    right: 3rem;
  }
  .testimonial {
    width: 29.9rem;
  }
  .title,
  .sub {
    left: -0.7rem;
  }
  .testimonial--img {
    padding-right: 1rem;
  }
  .testimonial-container {
    width: 23rem;
    left: -0.7rem;
  }
  .testimonial--img {
    position: relative;
    left: -0.7rem;
  }
  .testimonial-title {
    width: 21rem;
    left: -1.7rem;
  }
  .testimonial-description {
    left: -1.7rem;
  }
  .question-container {
    padding-left: 2rem;
  }
  .question-content {
    width: 25rem;
    padding: 1.5rem 0.5rem 0 -0.5rem;
  }
  .question-title {
    width: 20rem;
    right: 0.5rem;
  }
  .question-text {
    width: 20rem;
    right: 0;
  }
  .question-btn {
    right: -1.4rem;
  }
  .divided {
    width: 29.9rem;
  }
  .divided-content {
    width: 25rem;
    padding-bottom: 2rem;
  }
  .divided-button {
    padding-top: 1rem;
    padding-left: 6rem;
  }
  .newsletter-form {
    padding-top: 3rem;
    flex-direction: column;
  }
  .btn {
    position: relative;
    left: 1rem;
  }
}
